<!DOCTYPE html>
<html>

<head>
  <title>Choose Some Words</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <meta charset='utf-8'>
</head>

<body>
  <h1>The Goofy Adventure!</h1>
  <p> @Model.Name left his @Model.Adjective house and headed out into the @Model.Noun1. Then he started @Model.Verb while all of a sudden a @Model.Noun2 ate his @Model.FoodItem.</p>
</body>

</html>